enviro_server/tests/resources/data_transform_resource.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/home/ivan/Documents/rpi_home/enviro_server/tests/resources/weather_data.json filter=lfs diff=lfs merge=lfs -text
