[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
enviroplus = "*"
"rpi.gpio" = "*"
smbus = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
celery = "*"
redis = "*"
setuptools = "*"
psycopg2 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
